page-about {
  .header {
    background-color: midnightblue;
  }

  .title {
    color: #fff;
    font-size: 2em;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: .25em;
  };

  .imageViewer {
    padding: 0;
  }

  .subHeaderFooter {
    //background-color: midnightblue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .subTitle {
    color: midnightblue;
    font-size: 1.1em;
    font-weight: 900;
    height: 1.5em;
  }

  .subDetails {
    color: midnightblue;
    font-size: 0.9em;
    font-weight: 600;
    height: 1.5em;
  }

  .img-profile {
    border-radius: 10px;
  }

  .detailsTitleRow {
    padding-top: 0.5em;
  }

  .detailsTitle {
    color: midnightblue;
    font-size: 1.5em;
    text-align: center;
  }

  .detailsSeparate {
    color: midnightblue;
    text-align: center;
  }

  .detailsSection {
    color: midnightblue;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+78,a0d8ef+100 */
    //background: #feffff; /* Old browsers */
    //background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 78%, #a0d8ef 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 78%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 78%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //padding: .25em;
    font-size: 1em;
    line-height: 1.5;
  }

  .lastRow {
    padding-bottom: 60px;
  }
}

