page-barcode {
  .header {
    background-color: midnightblue;
  }

  .title {
    color: #fff;
    font-size: 1.5em;
    display: block;
    width: 100%;
    text-align: right;
    padding: .25em;
  };

  .floatRight {
    float: right;
  }
}
